body {
    background: darksalmon;
}

.fill {
    background-image: url('http://source.unsplash.com/random/150x150');
    width: 150px;
    height: 150px;
    position: relative;
    cursor: pointer;
    top: 5px;
    left: 5px;
}


.empty {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 10px;
    background: white;
    border:solid darksalmon 3px;
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}